
@{
    ViewData["Title"] = "You've been Piffled!";
}

<h1>You really have.</h1>
<p>Yep I can confirm.  You've been royally piffled.</p>
<p>I've got the sniffles.  I can play some skittles.  Let's do the sodding piffles.</p>

